/*Colours used:
Primary: White #FFFFFF
Text: Coal #1C1C1C
Accent: Goldenrod #FFC21A
Accent: Candy Apple #F04E49
Inactive Light Grey: #EBEBEB
Inactive Dark Grey: #999999*/

header {
    background-color: #FFFFFF;
    text-align: center;
    position: relative;
}

nav {
    width: 100%;
}

.nav-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav-bar li {
    display: inline-block;
}

img {
    width: 100%;
}

select {
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    color: #1C1C1C;
    padding-bottom: 0;
}

footer {
    display: inline-block;
    background-color: #EBEBEB;
    filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.12)) drop-shadow(0 -3px 1px rgba(0, 0, 0, 0.14)) drop-shadow(0 -1px 5px rgba(0, 0, 0, 0.12)) drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
    position: relative;
    width: 100%;
}

main {
    padding-top: 16px;
}

/* Layout Styling*/

.container {
    display: inline-block;
    text-align: center;
    margin: auto;
    max-width: 100%;
    padding: 24px 16px 24px 16px;
}

.row {
    margin: 32px 0;
    padding-bottom: 32px;
    border-bottom: #999999 1px solid;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

.logo {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 16px;

}

.hero-img {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
}

.bottom-padding {
    padding: 40px;
}

.about-img {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.hic-logo {
    max-width: 170px;
    margin-left: 110px;
    margin-right: 110px;
}

.header-shadow {
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12)) drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14)) drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12)) drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
}

/*Text Stylings*/

.center-text {
    text-align: center;
}

.body-padding {
    margin-left: 8px;
    margin-right: 8px;
}


/* Headings*/

h1,
h2,
h3,
h4 {
    line-height: 1.4;
}

h1 {
    font-size: 1.375em;
    font-weight: 700;
}

h2 {
    font-size: 1.125em;
    font-weight: 600;
}

h3 {
    font-size: 1em;
    font-weight: 500;
}

h4 {
    font-size: 0.875em;
    font-weight: 400;
}



/* Underline Bar*/

.bar {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: #FFC21A;
    text-decoration-thickness: 4px;
    line-height: 2;
}

/*Links*/

a {
    color: #1C1C1C;
    text-decoration: none;
    /* No underlining */
}

a:hover,
a:focus {
    color: #1C1C1C;
    text-decoration: none;
    /* Underlining when hovering over a link */
}

a:active {
    /* selected link */
    color: #F04E49;
}


/* Primary Button*/

.primary-button {
    display: inline;
    background-color: #FFC21A;
    color: #1C1C1C;
    font-size: 1em;
    font-weight: 700;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    transition: 0.2s opacity;
}

.primary-button:hover {
    opacity: 0.7;
    /* Reduces the opacity of the button to 80% */
    text-decoration: none;
}

.primary-button:active {
    color: #999999;
}

/* Primary Button Fixed Width*/

.primary-button-fixed {

    display: inline-block;
    background-color: #FFC21A;
    color: #1C1C1C;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    width: 80px;
    padding: 8px 0 8px 0;
    border-radius: 4px;
    border: #1C1C1C 2px solid;
    transition: 0.2s opacity;
}

.primary-button-fixed:hover {
    opacity: 0.7;
    /* Reduces the opacity of the button to 80% */
    text-decoration: none;
}

.primary-button-fixed:active {
    color: #999999;
}

/* Inactive Button*/

.inactive-button {
    display: inline;
    background-color: #ebebeb;
    color: #1C1C1C;
    font-size: 1em;
    font-weight: 700;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    transition: 0.2s opacity;
}

.inactive-button:hover {
    opacity: 0.7;
    /* Reduces the opacity of the button to 80% */
    text-decoration: none;
}

.inactive-button:active {
    background-color: #FFC21A;
    color: #1C1C1C;
}

/* Inactive Button Fixed Width*/

.inactive-button-fixed {
    display: inline-block;
    background-color: #ebebeb;
    color: #999999;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    width: 80px;
    padding: 8px 0 8px 0;
    border: 2px solid;
    border-radius: 4px;
    transition: 0.2s opacity;
}

.inactive-button-fixed:hover {
    opacity: 0.7;
    /* Reduces the opacity of the button to 80% */
    text-decoration: none;
}

.inactive-button-fixed:active {
    background-color: #FFC21A;
    color: #1C1C1C;
}

/*Skills Buttons*/

.skills-buttons {
    display: inline-block;
    background-color: #ebebeb;
    color: #1C1C1C;
    font-size: 1em;
    font-weight: 400;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    margin-bottom: 8px;
    margin-right: 4px;
}

/* My Selection Hover*/

.my-selection:hover {
    opacity: 0.8;
    /* Reduces the opacity of the button to 80% */
    text-decoration: none;
}

/*Medium Devices 640px and Larger*/

@media screen and (min-width: 640px) {
    header {
        text-align: unset;
        margin: 0 0 0;
        padding-top: 8px;
    }

    .container {
        width: 100%;
        text-align: unset;

    }

    .logo {
        float: left;
        height: 100%;
        padding: 0 0 0 0;
        min-height: 44px;
    }

    .div-bar1 {
        float: right;
    }

    .div-bar1 .logo {
        display: inline-flex;
    }

    .col-md-6 {
        width: 50%;
    }

    [class*="col-"] {
        float: left;
    }
    .row::after {
        content: "";
        clear: both;
        display: table;
      }
  
}

/*Large Devices 1024px and Larger*/

@media screen and (min-width: 1024px) {}

/*XL Devices 1440px and Larger*/

@media screen and (min-width: 1440px) {}