/*Colours used:
Primary: White #FFFFFF
Text: Coal #1C1C1C
Accent: Goldenrod #FFC21A
Accent: Candy Apple #F04E49
Inactive Light Grey: #EBEBEB
Inactive Dark Grey: #6A6A6A*/

html {
    scroll-behavior: smooth;
}

header {
    background-color: #FFFFFF;
    position: relative;
}



.nav-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

img {
    width: 100%;
}

select {
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    color: #1C1C1C;
    padding-bottom: 0;
}

footer {
    display: inline-block;
    background-color: #EBEBEB;
    filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.12)) drop-shadow(0 -3px 1px rgba(0, 0, 0, 0.14)) drop-shadow(0 -1px 5px rgba(0, 0, 0, 0.12)) drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
    position: relative;
    width: 100%;
    text-align: center;
}

main {
    padding-top: 16px;
}

/* Layout Styling*/

.container {
    margin: auto;
    max-width: 100%;
    padding: 20px 16px 16px 16px;
}

.navtoggle li:not(:last-child) {
    display: none;
}

.navtoggle,
.navtoggle.responsive {
    position: relative;
}

.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 0;
}

.navtoggle.responsive nav {
    padding: 16px 0 0;
}

.navtoggle.responsive li {
    display: inline-block;
    padding: 8px 0;
}

.navtoggle.responsive li:last-child {
    padding: 0 0 8px;
}


.row {
    padding-top: 24px;
    margin-bottom: 24px;
    border-bottom: #6A6A6A 1px solid;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.social-icons {
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
    max-width: 32px;
}

.bottom-projects-container {
    display: inline-block;
    margin: auto;
    max-width: 100%;
    padding: 24px 16px 24px 16px;
    text-align: center;
}


.bottom-projects {
    display: inline-block;
    max-width: 48%;
    padding: 0 4px 8px 4px;
    text-align: center;
}

.logo {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;

}

.hero-img {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
}

.bottom-padding {
    padding: 40px;
}

.about-img {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.hic-logo {
    max-width: 170px;
    margin: auto;
}

.header-shadow {
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12)) drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14)) drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12)) drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
}

.project-shadow {
    border-radius: 4px;
    filter: drop-shadow(1px 2px 6px rgba(0, 0, 0, 0.06)) drop-shadow(0 1px 6px rgba(0, 0, 0, 0.06)) drop-shadow(0 2px 6px rgba(0, 0, 0, 0.10)) drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
}


/*Text Stylings*/

.center-text {
    text-align: center;
}


/* Headings*/

h1,
h2,
h3,
h4 {
    line-height: 1.4;
}

h1 {
    font-size: 1.375em;
    font-weight: 700;
}

h2 {
    font-size: 1.25em;
    font-weight: 600;
}

h3 {
    font-size: 1.125em;
    font-weight: 500;
}

h4 {
    font-size: 1.125em;
    font-weight: 300;
}


p {
    font-size: 1em;
    font-weight: 300;
}



/* Underline Bar*/

.bar {
    text-decoration: underline;
    text-underline-offset: 0.5em;
    text-decoration-color: #FFC21A;
    text-decoration-thickness: 4px;
    line-height: 1.6;
}

/*Links*/

a {
    color: #1C1C1C;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #1C1C1C;
    text-decoration: none;
}

a:active {
    /* selected link */
    color: #F04E49;
}


/* Primary Button*/

.primary-button {
    display: inline;
    background-color: #FFC21A;
    color: #1C1C1C;
    font-size: 1em;
    font-weight: 700;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    transition: 0.2s opacity;
    margin: auto;
}

.primary-button:hover {
    opacity: 0.6;
    text-decoration: none;
}

.primary-button:active {
    color: #6A6A6A;
}

/* Primary Button Fixed Width*/

.primary-button-fixed {

    display: inline-block;
    background-color: #FFC21A;
    color: #1C1C1C;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    width: 80px;
    padding: 8px 0 8px 0;
    border-radius: 4px;
    border: #1C1C1C 2px solid;
    transition: 0.2s opacity;
}

.primary-button-fixed:hover {
    opacity: 0.6;
    text-decoration: none;
}

.primary-button-fixed:active {
    color: #6A6A6A;
}

/* Inactive Button*/

.inactive-button {
    display: inline;
    background-color: #ebebeb;
    color: #1C1C1C;
    font-size: 1em;
    font-weight: 700;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    transition: 0.2s opacity;
}

.inactive-button:hover {
    opacity: 0.6;
    text-decoration: none;
}

.inactive-button:active {
    background-color: #FFC21A;
    color: #1C1C1C;
}

/* Inactive Button Fixed Width*/

.inactive-button-fixed {
    display: inline-block;
    background-color: #ebebeb;
    color: #6A6A6A;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    width: 80px;
    padding: 8px 0 8px 0;
    border: 2px solid;
    border-radius: 4px;
    transition: 0.2s opacity;
}

.inactive-button-fixed:hover {
    opacity: 0.6;
    text-decoration: none;
}

.inactive-button-fixed:active {
    background-color: #FFC21A;
    color: #1C1C1C;
}

/*Skills Buttons*/

.skills-buttons {
    display: inline-block;
    background-color: #ebebeb;
    color: #1C1C1C;
    font-size: 1em;
    font-weight: 400;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    margin-bottom: 8px;
    margin-right: 4px;
}

/* My Selection Hover*/

.my-selection:hover {
    opacity: 0.6;
    text-decoration: none;
}


/*Medium Devices 640px and Larger*/

@media screen and (min-width: 640px) {
    header {
        text-align: unset;
        margin: auto;
        padding-top: 8px;
    }

    .navtoggle li:not(:last-child) {
        display: inline-block;
    }

    .navtoggle li:last-child {
        display: none;
    }

    .navtoggle.responsive nav {
        padding: 0;
    }

    .navtoggle.responsive li:last-child {
        padding: 0px;
    }

    .nav-bar li {
        display: inline-block;
    }

    .container {
        display: inline-block;
        width: 100%;
        text-align: unset;
        padding: 16px 32px 16px 32px;
    }

    .about-container {
        display: flex;
        align-items: center;
        gap: 1em;
    
    }

    .about-text {
        max-width: 50%;
    }

    .bottom-projects-container {
        max-width: 100%;
        padding: 16px 32px 16px 32px;
        text-align: center;
    }

    .bottom-projects {
        display: inline-block;
        max-width: 30%;
        padding: 4px 0 8px 04px;
        text-align: center;
    }

    .logo {
        float: left;
        height: 100%;
        padding: 0 0 0 0;
        min-height: 44px;
        max-width: 240px;
    }

    .hero-img {
        max-width: 240px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 16px;
    }

    .about-img {
        max-width: 240px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 16px;
    }

    .div-bar1 {
        float: right;
    }

    .div-bar1 .logo {
        display: inline-flex;
    }

    .col-md-6 {
        width: 50%;
        padding: 24px;
    }

    [class*="col-"] {
        float: left;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    .row {
        padding-top: unset;
        margin-bottom: 24px;
        border-bottom: unset;
    }

    .main-images {
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .social-icons {
        display: inline-block;
        margin-left: 24px;
        margin-right: 24px;
        max-width: 40px;
    }

    h1 {
        font-size: 1.5em;
        font-weight: 700;
    }

    h2 {
        font-size: 1.3755em;
        font-weight: 600;
    }

    h3 {
        font-size: 1.25em;
        font-weight: 500;
    }

    h4 {
        font-size: 1.25em;
        font-weight: 300;
    }

    p {
        font-size: 1em;
        font-weight: 300;
    }

    /*Large Devices 1024px and Larger*/

    @media screen and (min-width: 1024px) {

        .container {
            display: inline-block;
            min-width: 1024px;
            margin: auto;
            padding: 16px 48px 16px 48px;
        }

        .about-container {
            display: flex;
            align-items: center;
            gap: 1em;
        
        }

        .about-text {
            max-width: 50%;
        }
    
        .navtoggle li:not(:last-child) {
            display: inline-block;
        }

        .navtoggle li:last-child {
            display: none;
        }

        .navtoggle.responsive nav {
            padding: 0;
        }

        .navtoggle.responsive li:last-child {
            padding: 0px;
        }

        .nav-bar li {
            display: inline-block;
        }

        .bottom-projects-container {
            max-width: 100%;
            padding: 16px 32px 16px 32px;
            text-align: center;
        }

        .bottom-projects {
            display: inline-block;
            max-width: 33%;
            padding: 4px 0 8px 04px;
            text-align: center;
        }

        header {
            text-align: unset;
            margin: 0 0 0;
            padding-top: 8px;
        }

        .logo {
            float: left;
            height: 100%;
            padding: 0 0 0 0;
            min-height: 44px;
            max-width: 240px;
        }

        .hic-logo {
            max-width: 360px;
            margin: auto;
        }

        .div-bar1 {
            float: right;
        }

        .div-bar1 .logo {
            display: inline-flex;
        }

        .col-lg-7 {
            width: 50%;
            padding: 24px;
        }

        [class*="col-"] {
            float: left;
        }

        .row::after {
            content: "";
            clear: both;
            display: table;
        }

        .row {
            padding-top: unset;
            margin-bottom: 24px;
            border-bottom: unset;
        }

        h1 {
            font-size: 2em;
            font-weight: 700;
        }

        h2 {
            font-size: 1.75em;
            font-weight: 600;
        }

        h3 {
            font-size: 1.5em;
            font-weight: 500;
        }

        h4 {
            font-size: 1.375em;
            font-weight: 300;
        }

        p {
            font-size: 1.25em;
            font-weight: 300;
        }

        .hero-img {
            max-width: 260px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 16px;
        }

        .about-img {
            max-width: 260px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 16px;
        }

        .main-images {
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
}